body{
  background-color: #DDDDDD;    
} 
 /*Social icons*/
  
  :root {
    --link-size: 64px;
    --trans-props: all 0.2s ease;
    --link-size-footer-b: 40px;
    --link-size-footer-s: 30px;
  }
  
  a.socialicon {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
  }
  
  .social-icons {
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    margin-top: 17rem;
  }
  .socialicon{
    display: flex;
    position: relative;
    overflow: hidden;
    width: var(--link-size);
    height: var(--link-size);
    background-color: #fff;
    margin: 8px;
    border-radius: 50%;
    box-shadow: 2px 5px 5px var(--shadow-col);
    text-decoration: none;
    transition: var(--trans-props);
  }
  .socialicon i {
    margin: auto;
    font-size: 24px;
    z-index: 1;
    transition: var(--trans-props);
  }
  .kaggle i {
    margin: auto;
    font-size: 24px;
    z-index: 1;
    transition: var(--trans-props);
  }
  
  .socialicon.kaggle{
    color:var(--col-icon-kaggle);
  }
  
  .socialicon:after {
    content: "";
    width: var(--link-size);
    height: var(--link-size);
    position: absolute;
    transform: translate(0, var(--link-size));
    border-radius: 50%;
    transition: var(--trans-props);
    
  }
  
  .socialicon.kaggle:after {
    background-color: #41aff3;
    box-shadow: var(--kaggle);
  }
  
  
   /*
  ---------------------------
     LINKEDIN MICROANIMATION
  ---------------------------
  */
  
   .linkedin-icon{
    margin-left: 15px;
  }
  .linkedin:hover .linkedin-icon>rect{
    animation: rect-up 0.3s linear infinite;
  }
  
  
  @keyframes rect-up {
    50% {
        y:10px;
        height:11px;
     }
    0%{
        y:13px;
        height:8px;  
        }
    
  }
  
  .linkedin:hover .linkedin-icon> circle{
    animation: bounce 0.4s linear infinite;
  }
  
  @keyframes bounce {
    75% {
        cy: 8px;
     }
     50%{
        cy: 4px
     }
    0%{
        cy:4px
        }
    
  }
  
  /*
  ---------------------------
     INSTAGRAM MICROANIMATION
  ---------------------------
  */
  
  .instagram-icon {
    width: 90px !important;
   
  }
  .st0 {
    fill:none;
    stroke:#EF4649;
    stroke-width:7;
    stroke-linecap:round;
    stroke-miterlimit:10;
  }
  
  .instagram:hover #littleCircle {
    stroke-dasharray:150;
  }
  
  .instagram #shutter{
    display:none;
  }
  .instagram:hover #shutter{
    display: block;
    animation: shutter 1s linear infinite;
  }
  .instagram:hover #lens{
    fill:#EF4649;
    animation: lens 1.5s linear infinite;
  
  }
  
  @keyframes shutter {
    0%, 50% {
            stroke-dashoffset: 150;
            
        }
    75% {
            fill:#EF4649;
            stroke-dashoffset: 0;
            stroke-width:11;
        }
  }
  
  @keyframes lens {
    0%, 75% {
            opacity: 0;
        }
    100% {
            opacity: 1;
        }
  }
  
  
  /*
  ---------------------------
     TWITTER MICROANIMATION
  ---------------------------
  */
     .twitter-icon{
      width: 40px;
      margin-left: 12px;
    }
  
    .twitter:hover #wing1{
          transform-origin:center;
          animation: flap 0.4s ease-out infinite alternate;
      }	
      
    .twitter:hover #wing2{
        transform-origin:center;
        animation: flap 0.4s ease-in infinite alternate;
    }		
  
    @keyframes flap{
        50%{
          transform:scaleX(-1) rotate(-45deg) translate(-40px,-40px);
        }
      } 
  
  /*
  --------------------------
     GITHUB MICROANIMATION
  --------------------------
  */
  html[light-mode="dark"] .github-icon{
    fill: #ffff;
  }
  
  .github-icon {
    width: 40px;
    margin-left: 12px;
    margin-top: 5px;
    fill: #000000;
  }
  
  .github:hover #arm {
    transform-origin: bottom right;
    animation: moveArm 1s infinite alternate;
  }
  
  @keyframes moveArm {
    0% { transform: rotate(10deg); }
    100% { transform: rotate(-10deg); }
   }
 